<ng-container *ngIf="vm.propertyChanged$ | async">
  <div>
    <p><i>IsEditable:</i> {{ vm.isEditable }}</p>
    <p>
      <i>Editable:</i>
      <select [(ngModel)]="vm.editable">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </p>
    <p><i>Id:</i> {{ vm.detail?.id || "..." }}</p>
    <p><i>Name:</i> {{ vm.detail?.name || "..." }}</p>
    <p><i>Detail:</i> {{ vm.detail?.description || "..." }}</p>
    <ng-content></ng-content>
  </div>
  <app-crud-actions-view></app-crud-actions-view>
</ng-container>
